<div class="mt-2 p-2 bg-secondary text-white">
    <h1>Sructural Directive</h1>
    <P>*ngIf, *ngFor</P>
    <button class="btn btn-primary" (click)="nevigateToAttributeDirective()">Redirect To attribute-directive</button>
</div>
<div class="row pt-3 px-3">
    <div class="col-3">
        <div *ngIf="isDiv1Visible" class="bg-danger p-3 text-center">
            <h4>Div-1</h4>
        </div>
    </div>
    <div class="col-3">
        <div *ngIf="isDiv2Visible" class="bg-success p-3 text-center">
            <h4>Div-2</h4>
        </div>
    </div>
    <div class="col-3">
        <div *ngIf="div3TextBox1 === div3TextBox2" class="bg-secondary p-3 text-center">
            <h4>Div-3</h4>
        </div>
    </div>
    <div class="col-3">
        <div *ngIf="isDiv4Active" class="bg-primary p-3 text-center">
            <h4>{{div4Text}}</h4>
        </div>
    </div>
</div>

<div class="row pt-3 px-3">
    <div class="col-3 text-center">
        <button (click)="hideDiv1()" class="btn btn-danger">Hide</button>
        <button (click)="showDiv1()" class="btn btn-danger mx-2">Show</button>
    </div>
    <div class="col-3 text-center">
        <button (click)="toggleDiv2()" class="btn btn-success">Toggle</button>
    </div>
    <div class="col-3 text-center">
        <input type="text" [(ngModel)]="div3TextBox1" />
        <input type="text" [(ngModel)]="div3TextBox2" />
    </div>
    <div class="col-3 text-center">
        <div style="display: flex; align-items: center;">
            <input type="checkbox" [(ngModel)]="isDiv4Active" class="width-50" />
            <select [(ngModel)]="div4Text">
                <option value="Div-4" selected>Select</option>
                <option value="Punjab">Punjab</option>
                <option value="Sindh">Sindh</option>
                <option value="KPK">KPK</option>
            </select>
        </div>
    </div>
</div>

<div class="row pt-3 px-5">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityArray">
                {{city}}
            </li>
        </ul>
    </div>
    <div class="col-3">
        <div *ngFor="let cityName of cityArray">
            {{cityName}}
        </div>
    </div>
    <div class="col-3">
        <select>
            <option *ngFor="let cityNameValues of cityArray" [value]="cityNameValues">{{cityNameValues}}</option>
        </select>
    </div>
    <div class="col-3">
        <select>
            <option *ngFor="let student of studentList" [value]="student.name">{{student.name}}</option>
        </select>
    </div>
</div>

<div class="row pt-3 px-5">
    <table class="table table-bordered">
        <thead>
            <tr class="bg-primary">
                <th>Sr No</th>
                <th>Name</th>
                <th>City</th>
                <th>Is Active</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let theStudent of studentList; let srNo= index"
                class="bg-success" [ngClass]="{'bg-danger':!theStudent.isActive}">
                <td>{{srNo+1}}</td>
                <td>{{theStudent.name}}</td>
                <td>{{theStudent.city}}</td>
                <td>
                    <span *ngIf="theStudent.isActive">Active</span>
                    <span *ngIf="!theStudent.isActive">Not Active</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>