<nav class="navbar navbar-expand-sm bg-dark nevbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" routerLink="/layout">Angular18TutorialsInHindi_LearningPartner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        @for (item of nevbarData; track $index) {
        @if (!item.isDropDown) {
        <li class="nav-item mx-1">
          <a class="nev-link btn btn-dark w-100" [routerLink]="item.routerLink" routerLinkActive="active"
            ariaCurrentWhenActive="page">
            {{item.displayText}}
          </a>
        </li>
        }@else {
        <div class="dropdown">
          <a class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{item.displayText}}
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
            @for(item2 of item.dropDownListElements; track $index)
            {<li class="nav-item mx-1">
              <a class="nev-link btn btn-dark w-100" [routerLink]="item2.routerLink" routerLinkActive="active"
                ariaCurrentWhenActive="page">
                {{item2.displayText}}
              </a>
            </li>
            @if (item.dropDownListElements!.indexOf(item2)<item.dropDownListElements!.length-1) { <li>
              <hr class="dropdown-divider border border-light">
              </li>
              }
              }
          </ul>
        </div>
        }
        }
      </ul>
      <!-- Example single danger button -->
      @if (logedInUserData !== null) {
      <div class="btn-group me-5">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          Account Info
        </button>
        <ul class="dropdown-menu text-center ">
          <li><a class="dropdown-item">{{logedInUserData['userId']}}</a></li>
          <li><a class="dropdown-item">{{logedInUserData['emailId']}}</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item bg-warning" (click)="logoutUser()">Log out</a></li>
        </ul>
      </div>
      }
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
