<nav class="navbar navbar-expand-sm bg-dark nevbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Angular18TutorialsInHindi_LearningPartne</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item mx-1">
                    <a class="nav-link btn btn-dark" routerLink="data-binding" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Data Binding
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link btn btn-dark" routerLink="structural-directive" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Structural Directive
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link btn btn-dark" routerLink="attribute-directive" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Attribute Directive
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>