<div style="position: fixed;right: 100px;">
  <app-alert (alertOnClick)="showAlert=$event" [ngStyle]="{'display':showAlert?'block':'none'}"></app-alert>
</div>

<div class="burhan_bodyContainer">
  <div class="burhan_box">
    <form action="" #logInForm="ngForm">
      <div class="burhan_input-box">
        <h2>Log In</h2>
        <input type="text" value="" [(ngModel)]="logInCredentials['EmailId']" name="EmailId" #EmailId="ngModel"
          required>
        <span>Email</span>
        <i></i>
        @if (EmailId.touched) {
        <div class="text-danger">
          @if (EmailId.errors?.['required']) {
          <span>Email is required.</span>
          }
        </div>
        }
      </div>
      <br>
      <div class="burhan_input-box">
        <input type="password" value="" [(ngModel)]="logInCredentials['Password']" name="Password" #Password="ngModel"
          required>
        <span>Enter Password</span>
        <i></i>
        @if (Password.touched) {
        <div class="text-danger">
          @if (Password.errors?.['required']) {
          <span>Password is required.</span>
          }
        </div>
        }
      </div>
      <br>
      <input type="submit" value="Log In" [disabled]="logInForm.invalid" (click)="logInUser()">
      <div class="burhan_links">
        <a href="#">Forgot Password?</a>
        <a routerLink="/signup">Sign Up</a>
      </div>
    </form>
  </div>
</div>
